@import '../globals/index.scss';

.iconbutton {
    border-radius: 6px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &--small {
        width: 30px;
        height: 30px;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &--medium {
        width: 36px;
        height: 36px;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &--large {
        width: 42px;
        height: 42px;

        svg {
            width: 22px;
            height: 22px;
        }
    }

    &--contained {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        path {
            stroke: $light;
            fill: $light;
        }

        &--primary {
            @include contained-variant($primary, $contained-primary-hover, $contained-primary-active);
        }

        &--secondary {
            @include contained-variant($secondary, $contained-secondary-hover, $contained-secondary-active);
        }

        &--success {
            @include contained-variant($success, $contained-success-hover, $contained-success-active);
        }

        &--error {
            @include contained-variant($error, $contained-error-hover, $contained-error-active);
        }

        &--dark {
            @include contained-variant($dark, $contained-dark-hover, $contained-dark-active);
        }

        &--light {
            path {
                stroke: $black-100;
                fill: $black-100;
            }

            @include contained-variant($light, $contained-light-hover, $contained-light-active);
        }
    }

    &--outlined {
        background-color: transparent;

        &--primary {
            @include outlined-variant(1.7px, $primary);

            path {
                fill: $primary;
                stroke: $primary;
            }
        }

        &--secondary {
            @include outlined-variant(1.7px, $secondary);

            path {
                fill: $secondary;
                stroke: $secondary;
            }
        }

        &--success {
            @include outlined-variant(1.7px, $success);

            path {
                fill: $success;
                stroke: $success;
            }
        }

        &--error {
            @include outlined-variant(1.7px, $error);

            path {
                fill: $error;
                stroke: $error;
            }
        }

        &--dark {
            @include outlined-variant(1.7px, $dark);

            path {
                fill: $dark;
                stroke: $dark;
            }
        }

        &--light {
            @include outlined-variant(1.7px, $light);

            path {
                fill: $light;
                stroke: $light;
            }

            &:hover {
                path {
                    fill: $black-100;
                    stroke: $black-100;
                }

                background: $otf-hover;
                transition: background-color 0.3s;
            }

        }

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }

    &--text {
        background-color: transparent;

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }

    &--floating {
        z-index: 1;
        border-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }
}