@import '../globals/index.scss';

@mixin contained-variant($background, $hover-bg, $pressed-bg) {
    background: $background;

    &:hover {
        background: $hover-bg;
    }

    &:active {
        background: $pressed-bg;
    }
}

@mixin outlined-variant($border-size, $border-font-color) {
    border: $border-size solid $border-font-color;
    color: $border-font-color;
}

.btn {
    border: 1px solid transparent;
    font-family: var(--rubik-medium);
    font-size: 16px;
    letter-spacing: 0.1px;
    border-radius: 6px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }

    &:disabled {
        background: #000000;
        color: #848484;
        opacity: 0.3;
    }

    &--small {
        font-size: 14px;
        padding: 4px 12px;

        &__icon {
            &__left {
                padding: 4px 12px 4px 5.5px;
            }

            &__right {
                padding: 4px 5.5px 4px 12px;
            }
        }

        .icon,
        span {
            width: 17px;
            height: 17px;
        }
    }

    &--medium {
        font-size: 16px;
        padding: 5px 14px;

        &__icon {

            &__left {
                padding: 5px 14px 5px 9.5px;
            }

            &__right {
                padding: 5px 9.5px 5px 14px;
            }
        }

        .icon,
        span {
            width: 19px;
            height: 19px;
        }
    }

    &--large {
        font-size: 18px;
        padding: 6px 16px 6px 16px;

        &__icon {
            &__left {
                padding: 6px 16px 6px 11.5px;
            }

            &__right {
                padding: 6px 11.5px 6px 16px;
            }
        }

        .icon,
        span {
            width: 23px;
            height: 23px;
        }
    }

    &--contained {
        color: #FFFFFF;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &--primary {
            @include contained-variant(#6600FF, #4500AD, #3D0099);
        }

        &--secondary {
            @include contained-variant(#2385a6, #1E728E, #195F76);
        }

        &--success {
            @include contained-variant(#3c8f40, #337A36, #2B682E);
        }

        &--error {
            @include contained-variant(#9b2729, #842123, #711C1E);
        }

        &--dark {
            @include contained-variant(#374242, #535D5D, #474F4F);
        }
    }

    &--outlined {
        background-color: transparent;

        &--primary {
            @include outlined-variant(1.5px, #6600FF);
        }

        &--secondary {
            @include outlined-variant(1.5px, #2385a6);
        }

        &--success {
            @include outlined-variant(1.5px, #3c8f40);
        }

        &--error {
            @include outlined-variant(1.5px, #9b2729);
        }

        &--dark {
            @include outlined-variant(1.5px, #374242);
        }

        &:hover {
            background: #E8EAEB;
        }

        &:active {
            background: #e1e1e1;
        }
    }

    &--text {
        background-color: transparent;

        &:hover {
            background: #E8EAEB;
        }

        &:active {
            background: #e1e1e1;
        }
    }

    &--floating {
        z-index: 1;
        border-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &:hover {
            background: #E8EAEB;
        }

        &:active {
            background: #e1e1e1;
        }
    }
}