@import '../globals/index.scss';

.btn {
    border: 1px solid transparent;
    font-family: var(--rubik-regular);
    font-size: 16px;
    letter-spacing: 0.1px;
    border-radius: 6px;
    color: $font-default;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }

    &:disabled {
        background: $black-100;
        color: $font-disabled;
        opacity: 0.3;
    }

    &--small {
        font-size: 14px;
        padding: 4px 12px;

        &__icon {
            &__left {
                padding: 4px 12px 4px 5.5px;
            }

            &__right {
                padding: 4px 5.5px 4px 12px;
            }
        }

        .icon,
        span {
            width: 16px;
            height: 16px;
        }
    }

    &--medium {
        font-size: 16px;
        padding: 5px 14px;

        &__icon {

            &__left {
                padding: 5px 14px 5px 9.5px;
            }

            &__right {
                padding: 5px 9.5px 5px 14px;
            }
        }

        .icon,
        span {
            width: 18px;
            height: 18px;
        }
    }

    &--large {
        font-size: 18px;
        padding: 6px 16px 6px 16px;

        &__icon {
            &__left {
                padding: 6px 16px 6px 11.5px;
            }

            &__right {
                padding: 6px 11.5px 6px 16px;
            }
        }

        .icon,
        span {
            width: 22px;
            height: 22px;
        }
    }

    &--contained {
        color: $light;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &--primary {
            @include contained-variant($primary, $contained-primary-hover, $contained-primary-active);
        }

        &--secondary {
            @include contained-variant($secondary, $contained-secondary-hover, $contained-secondary-active);
        }

        &--success {
            @include contained-variant($success, $contained-success-hover, $contained-success-active);
        }

        &--error {
            @include contained-variant($error, $contained-error-hover, $contained-error-active);
        }

        &--dark {
            @include contained-variant($dark, $contained-dark-hover, $contained-dark-active);
        }

        &--light {
            color: $font-default;
            @include contained-variant($light, $contained-light-hover, $contained-light-active);
        }
    }

    &--outlined {
        background-color: transparent;

        &--primary {
            @include outlined-variant(1.5px, $primary);
        }

        &--secondary {
            @include outlined-variant(1.5px, $secondary);
        }

        &--success {
            @include outlined-variant(1.5px, $success);
        }

        &--error {
            @include outlined-variant(1.5px, $error);
        }

        &--dark {
            @include outlined-variant(1.5px, $dark);
        }

        &--light {
            @include outlined-variant(1.5px, $light);

            &:hover {
                color: $font-default;
                transition: background-color 0.3s;
            }
        }

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }

    &--text {
        background-color: transparent;

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }

    &--floating {
        z-index: 1;
        border-radius: 30px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        &:hover {
            background: $otf-hover;
            transition: background-color 0.3s;
        }

        &:active {
            background: $otf-active;
        }
    }
}