.icon {
    path {
        stroke: none;
    }

    &--light {
        path {
            stroke: #fff;
        }
    }

    &--dark {
        path {
            stroke: #000;
        }
    }

    &--primary {
        path {
            stroke: #6600FF;
        }
    }

    &--secondary {
        path {
            stroke: #2385a6;
        }
    }

    &--success {
        path {
            stroke: #3c8f40;
        }
    }

    &--error {
        path {
            stroke: #9b2729;
        }
    }
}