@import '../globals/settings_colors.scss';

.icon {
    path {
        stroke: none;
    }

    &--light {
        path {
            fill: $light;
            stroke: $light;
        }
    }

    &--dark {
        path {
            fill: $black-100;
            stroke: $black-100;
        }
    }

    &--primary {
        path {
            fill: $primary;
            stroke: $primary;
        }
    }

    &--secondary {
        path {
            fill: $secondary;
            stroke: $secondary;
        }
    }

    &--success {
        path {
            fill: $success;
            stroke: $success;
        }
    }

    &--error {
        path {
            fill: $error;
            stroke: $error;
        }
    }
}