@font-face {
    font-family: 'Rubik-Regular';
    src: local('Rubik-Regular'), url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: local('Rubik-Medium'), url('../assets/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Light';
    src: local('Rubik-Light'), url('../assets/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: local('Rubik-Bold'), url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: local('Rubik-ExtraBold'), url('../assets/fonts/Rubik-ExtraBold.ttf') format('truetype');
}

:root {
    --rubik-light: 'Rubik-Light';
    --rubik-regular: 'Rubik-Regular';
    --rubik-medium: 'Rubik-Medium';
    --rubik-bold: 'Rubik-Bold';
    --rubik-extra-bold: 'Rubik-ExtraBold';
}