@font-face {
    font-family: 'Rubik-Regular';
    src: local('Rubik-Regular'), url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: local('Rubik-Medium'), url('../assets/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Light';
    src: local('Rubik-Light'), url('../assets/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: local('Rubik-Bold'), url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-ExtraBold';
    src: local('Rubik-ExtraBold'), url('../assets/fonts/Rubik-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-Italic';
    src: local('Rubik-Italic'), url('../assets/fonts/Rubik-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-BoldItalic';
    src: local('Rubik-BoldItalic'), url('../assets/fonts/Rubik-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-ExtraBoldItalic';
    src: local('Rubik-ExtraBoldItalic'), url('../assets/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-LightItalic';
    src: local('Rubik-LightItalic'), url('../assets/fonts/Rubik-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: local('Rubik-MediumItalic'), url('../assets/fonts/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-SemiBoldItalic';
    src: local('Rubik-SemiBoldItalic'), url('../assets/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik-SemiBold';
    src: local('Rubik-SemiBold'), url('../assets/fonts/Rubik-SemiBold.ttf') format('truetype');
}

:root {
    --rubik-light: 'Rubik-Light';
    --rubik-regular: 'Rubik-Regular';
    --rubik-medium: 'Rubik-Medium';
    --rubik-bold: 'Rubik-Bold';
    --rubik-semibold: 'Rubik-SemiBold';
    --rubik-extrabold: 'Rubik-ExtraBold';
    --rubik-italic: 'Rubik-Italic';
    --rubik-light-italic: 'Rubik-LightItalic';
    --rubik-medium-italic: 'Rubik-MediumItalic';
    --rubik-bold-italic: 'Rubik-BoldItalic';
    --rubik-semibold-italic: 'Rubik-SemiBoldItalic';
    --rubik-extrabold-italic: 'Rubik-ExtraBoldItalic';
}