//background colors

$primary: #6600FF;
$contained-primary-hover: #4500AD;
$contained-primary-active: #3D0099;

$secondary: #2385a6;
$contained-secondary-hover: #1E728E;
$contained-secondary-active: #195F76;

$success: #3c8f40;
$contained-success-hover: #337A36;
$contained-success-active: #2B682E;

$error: #9b2729;
$contained-error-hover: #842123;
$contained-error-active: #711C1E;

$dark: #374242;
$contained-dark-hover: #535D5D;
$contained-dark-active: #474F4F;

$light: #FFFFFF;
$contained-light-hover: #d9d9d9;
$contained-light-active: #c9c9c9;

$otf-hover: #d9d9d9;
$otf-active: #c9c9c9;

$black-100: #000000;

$font-default: #32366B;
$font-disabled: #848484;